    #footer {
        min-height: 320px;
        padding-top: 70px;
        border-bottom: 1px solid $mainColor;
        position: relative;
        li {
            list-style: none;
            width: 50px;
        }
        a {
            color: #93a1a7;
            font-size: 14px;
            text-decoration: none;
        }
        p {
            color: #93a1a7;
        }
        li {
            padding-bottom: 10px;
        }
        i {
            color: #adbdc1;
            font-size: 16px;
            margin: 5px;
            padding-left: 10px;
        }
        button {
            border: none;
            border: none;
            color: white;
            background-color: $blue;
        }
        .img {
            position: absolute;
            left: 0;
            width: 200px;
            height: 105px;
            bottom: 0;
        }
    }
    
    //bura footer extradir 
    #footerExtra {
        min-height: 100px;
        position: relative;
        padding-top: 30px;
        p {
            color: #93a1a7;
            font-size: 14px;
        }
        .img2 {
            position: absolute;
            width: 143px;
            height: 108px;
            right: 0px;
            bottom: 0;
        }
    }