/* line 1, C:/Users/kamran/Desktop/Project/sass/_info.scss */
#info {
  background-color: #e5eef0;
  min-height: 50px;
  font-family: 'Karla', sans-serif;
  color: #93a1a7;
  min-height: 50px;
  font-size: 13px;
  padding-top: 15px; }
  /* line 9, C:/Users/kamran/Desktop/Project/sass/_info.scss */
  #info p {
    display: inline-block;
    letter-spacing: 1px; }
  /* line 13, C:/Users/kamran/Desktop/Project/sass/_info.scss */
  #info i {
    font-size: 20px;
    margin-right: 5px; }
  /* line 17, C:/Users/kamran/Desktop/Project/sass/_info.scss */
  #info .col-md-2 {
    padding: 0; }

/* line 1, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
#menu {
  min-height: 75px;
  background-color: white;
  font-family: 'Karla', sans-serif;
  color: #93a1a7;
  font-size: 13px;
  padding-top: 11px; }
  /* line 8, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
  #menu li {
    padding-right: 19px; }
  /* line 11, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
  #menu li:last-child {
    padding-right: 0px; }
  /* line 14, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
  #menu a {
    color: #83878e;
    font-size: 15px; }
  /* line 18, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
  #menu a:hover {
    background-color: #009DF5;
    border-radius: 30px;
    color: white; }
  /* line 23, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
  #menu .navbar-brand {
    padding: 0px; }
  /* line 26, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
  #menu img {
    padding-top: 10px; }
  /* line 29, C:/Users/kamran/Desktop/Project/sass/_menu.scss */
  #menu h1 {
    padding-right: 48px; }

/* line 1, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
#slide {
  font-family: 'Karla', sans-serif; }
  /* line 5, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide h2 {
    font-size: 55px;
    color: #e5eef0;
    font-weight: bold; }
  /* line 10, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .fullWidth {
    width: 100%;
    height: 400px;
    background-color: black;
    object-fit: cover;
    position: relative;
    overflow: hidden; }
    /* line 18, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
    #slide .fullWidth img {
      width: 100%;
      height: 100%;
      position: relative; }
    /* line 23, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
    #slide .fullWidth p {
      font-size: 60px;
      color: #ffffff;
      font-weight: bold; }
    /* line 28, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
    #slide .fullWidth h5 {
      font-size: 24px;
      color: #ffffff; }
  /* line 33, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide i {
    position: absolute;
    color: #ffffff; }
  /* line 37, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide input {
    width: 141px;
    height: 51px;
    background-color: #29c2e1;
    color: white;
    padding: 5px;
    border: none;
    font-size: 15px;
    margin-bottom: 20px; }
  /* line 47, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .exam {
    height: 50px;
    position: absolute;
    top: 150px; }
  /* line 52, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .exam1 {
    height: 50px;
    top: 40px; }
  /* line 56, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .carousel-caption {
    padding-bottom: 100px; }
  /* line 59, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide h4 {
    font-size: 14px;
    color: #FDFDFD;
    text-transform: uppercase; }
  /* line 64, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .full {
    width: 100%;
    height: auto; }
  /* line 68, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .active:after {
    content: ",";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid white;
    top: -56px;
    margin-left: -25px;
    z-index: 1; }
  /* line 80, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .active:before {
    content: ",";
    position: absolute;
    top: -8px;
    margin-left: -7px;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white; }
  /* line 92, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .active:nth-child(1):after {
    background-image: url("../seven.jpg");
    background-size: cover; }
  /* line 96, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .active:nth-child(2):after {
    background-image: url("../six.jpg");
    background-size: cover; }
  /* line 100, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slide .active:nth-child(3):after {
    background-image: url("../eight.jpg");
    background-size: cover;
    background-position: center; }

/* line 107, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
#slideBlog {
  min-height: 310px;
  background-color: #8d8d8d;
  padding: 123px;
  font-family: 'Karla', sans-serif; }
  /* line 112, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slideBlog h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    font-weight: bold; }
  /* line 118, C:/Users/kamran/Desktop/Project/sass/_slide.scss */
  #slideBlog p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-weight: bold; }

/* line 1, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#content {
  min-height: 655px;
  padding-top: 75px;
  font-family: 'Karla', sans-serif;
  color: #93a1a7; }
  /* line 6, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .vartical {
    height: 6px; }
  /* line 9, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .vartical2 {
    height: 14px; }
  /* line 12, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content h5 {
    line-height: 20px; }
  /* line 16, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .row h2 {
    font-size: 30px;
    font-weight: bold;
    color: #23282f;
    font-weight: 700;
    padding: 0; }
  /* line 23, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .row P {
    font-size: 18px;
    color: #54595f;
    line-height: 24px; }
  /* line 28, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .row p:last-child {
    font-size: 14px;
    padding: 15px 0px 40px 0px;
    line-height: 24px; }
  /* line 35, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .media-body h3 {
    font-size: 20px;
    color: #23282f; }
  /* line 39, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .media-body h5 {
    font-size: 14px;
    line-height: 24px;
    color: #54595f; }
  /* line 45, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #content .media-left {
    padding-right: 30px; }

/* line 50, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.buton, #features button, #price button, #services button, #services button:last-child {
  background-color: #009DF5;
  color: white;
  border-radius: 20px;
  width: 171px;
  margin-top: 22px;
  margin-left: 55px; }

/* line 59, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.imgHeight {
  height: 301px;
  background-color: #8d8d8d;
  overflow: hidden;
  object-fit: cover; }
  /* line 64, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  .imgHeight img {
    width: 100%;
    height: 100%;
    transition: 0.3s; }
  /* line 69, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  .imgHeight img:hover {
    transform: scale(1.05, 1.05); }

/* line 74, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.smallpict, .small2 {
  width: 67px;
  height: 67px;
  background-color: #f7941d;
  padding-top: 8px; }
  /* line 79, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  .smallpict i, .small2 i {
    color: white; }

/* line 84, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.small2 {
  background-color: #e5eef0;
  padding-left: 18px;
  position: relative; }

/* line 91, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.paddingTop {
  padding-top: 25px;
  padding-left: 9px; }

/* line 96, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#slide2 {
  min-height: 310px;
  background-color: #8d8d8d;
  padding: 123px;
  font-family: 'Karla', sans-serif; }
  /* line 101, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #slide2 h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    font-weight: bold; }
  /* line 107, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #slide2 p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-weight: bold; }

/* line 115, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#static {
  padding-top: 99px;
  min-height: 713px;
  font-family: 'Karla', sans-serif; }
  /* line 119, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static h2 {
    font-size: 30px;
    font-weight: bold;
    color: #23282f; }
  /* line 124, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static h5 {
    font-size: 18px;
    color: #23282f; }
  /* line 128, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static p {
    font-size: 14px;
    color: #54595f;
    line-height: 24px; }
  /* line 133, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static .line {
    min-width: 100%;
    border-bottom: 1px solid #e5eef0;
    padding: 40px 0px 40px 0px; }
  /* line 138, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static h4 {
    font-size: 60px;
    color: #23282f;
    margin-top: -10px; }
  /* line 143, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static .verticall {
    height: 70px; }
  /* line 146, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static .buton2 {
    width: 139px;
    border: none;
    padding: 5px; }
  /* line 151, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static .borderRight {
    border-left: 2px solid #009DF5;
    padding-left: 10px; }
  /* line 155, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #static .color {
    background-color: #e5eef0; }

/* line 161, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#clients {
  font-family: 'Karla', sans-serif;
  color: #93a1a7;
  min-height: 467px;
  background-color: #e5eef0;
  padding-bottom: 10px; }
  /* line 167, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients img {
    width: 100%;
    height: 100%; }
  /* line 171, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-top: 75px; }
  /* line 177, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients .col-md-1 {
    padding: 0; }
  /* line 180, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients p {
    color: #54595f;
    font-size: 15px; }
  /* line 184, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients h6 {
    padding-bottom: 35px;
    left: 0; }
  /* line 188, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients i {
    color: black; }
  /* line 191, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients .circle {
    width: 132px;
    height: 132px;
    background-color: #f7941d;
    border-radius: 100%;
    objectiv-fit: cover;
    margin-top: 10px;
    margin-right: 10px; }
  /* line 200, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #clients .col-md-5 {
    padding-top: 150px; }

/* line 206, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#features {
  min-height: 650px;
  font-family: 'Karla', sans-serif;
  color: #93a1a7; }
  /* line 210, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-top: 75px;
    padding-bottom: 0px; }
  /* line 217, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features .rel {
    position: relative;
    padding-left: 180px; }
  /* line 221, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features img1 {
    float: right; }
  /* line 224, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features .img2 {
    position: absolute;
    right: 68px;
    bottom: 0; }
  /* line 229, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features h5 {
    color: #54595f;
    font-size: 15px;
    line-height: 24px; }
  /* line 234, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features p {
    padding-bottom: 40px; }
  /* line 237, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features button {
    margin-top: 40px;
    margin-left: 11px; }
  /* line 242, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features .media-left {
    padding-right: 30px; }
  /* line 245, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #features .imgNew {
    position: absolute;
    padding-left: 0px;
    padding-top: 6px;
    padding-right: 15px; }

/* line 253, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.red {
  height: 200px;
  border: 1px solid black; }

/* line 258, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.verticalSpacer {
  height: 16px; }

/* line 263, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#price {
  min-height: 724px;
  font-family: 'Karla', sans-serif;
  color: #93a1a7;
  padding: 10px; }
  /* line 268, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price .col-md-3 {
    padding-left: 22px; }
  /* line 271, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price h1 {
    font-size: 30px;
    color: #23282f;
    padding-top: 78px;
    font-weight: 700;
    margin: 0; }
  /* line 278, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price h3 {
    color: #23282f;
    font-size: 20px;
    font-weight: 700;
    margin-top: 37px;
    margin-bottom: 11px; }
  /* line 285, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price hr {
    padding-bottom: 17px; }
  /* line 288, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price p {
    font-size: 15px;
    color: #65686e;
    margin-bottom: 42px;
    line-height: 35px; }
  /* line 294, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price button {
    width: 138px;
    margin-top: 45px;
    margin-left: 11px; }
  /* line 300, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price span {
    color: #f7941d; }
  /* line 303, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price .line1 {
    width: 100%;
    height: 1px;
    background-color: #e5eef0;
    padding-left: 75px;
    margin-bottom: 16px; }
  /* line 310, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #price .line2 {
    width: 20px;
    height: 1px;
    background-color: #f7941d;
    padding-left: 30px; }

/* line 318, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.panel {
  width: 100%;
  min-height: 420px;
  border: 1px solid #e5eef0;
  margin-right: 5px;
  border-radius: 0px;
  text-align: center;
  position: relative; }
  /* line 326, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  .panel p:nth-child(4) {
    line-height: 36px;
    margin-top: 50px;
    font-size: 10px; }
  /* line 331, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  .panel img {
    position: absolute;
    left: 0px; }

/* line 337, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.pricePar {
  line-height: 36px;
  margin-top: 50px;
  font-size: 10px; }

/* line 343, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.panel:hover {
  box-shadow: 10px 10px 50px #888888;
  blur-radius: 20px; }

/* line 349, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#team {
  min-height: 690px;
  background-color: #e5eef0;
  font-family: 'Karla', sans-serif; }
  /* line 353, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team h1 {
    font-size: 30px;
    color: #23282f;
    font-weight: 700; }
  /* line 358, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team h3 {
    font-weight: 400; }
  /* line 361, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team .imgWidth {
    width: 100%;
    height: 270px;
    margin: 0;
    padding: 0; }
  /* line 367, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team h5 {
    font-size: 14px;
    color: #23282f;
    font-weight: 400;
    font-weight: bold; }
  /* line 373, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team .caption {
    padding: 20px; }
  /* line 376, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team p {
    color: #f69b37;
    font-size: 13px;
    font-weight: bold; }
  /* line 381, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team i {
    color: #adbdc1;
    margin-right: 5px; }
  /* line 385, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #team .thumbnail {
    padding: 0px;
    margin-right: 25px; }

/* line 391, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.verticalSpac {
  height: 74px; }

/* line 395, C:/Users/kamran/Desktop/Project/sass/_content.scss */
.verticalSpac2 {
  height: 20px; }

/* line 400, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#services {
  font-family: 'Karla', sans-serif;
  min-height: 320px; }
  /* line 403, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #services h1 {
    font-size: 30px;
    font-weight: 500;
    font-weight: bold;
    color: #23282f; }
  /* line 409, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #services span {
    color: #f69b37; }
  /* line 412, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #services .verticall {
    height: 70px; }
  /* line 415, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #services p {
    font-size: 13px;
    color: #58686c;
    text-transform: uppercase; }
  /* line 420, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #services button {
    width: 141px;
    padding: 10px;
    margin-top: 50px;
    margin-top: 10px;
    margin-left: 0px; }
  /* line 428, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #services button:last-child {
    background-color: #f7941d;
    width: 141px;
    padding: 10px;
    margin-top: 10px; }

/* line 438, C:/Users/kamran/Desktop/Project/sass/_content.scss */
#blog {
  font-family: 'Karla', sans-serif; }
  /* line 440, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .imgDiv {
    width: 100%;
    height: 334px;
    background-color: #8d8d8d; }
  /* line 445, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog ul {
    list-style: square;
    list-style-image: url(images/Done.png); }
    /* line 448, C:/Users/kamran/Desktop/Project/sass/_content.scss */
    #blog ul li {
      padding-bottom: 8px; }
  /* line 452, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .borderBottom {
    border-bottom: 1px solid #e5eef0; }
  /* line 455, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .smallCircle {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #8d8d8d; }
  /* line 461, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .media {
    background-color: #e5eef0;
    padding: 20px 15px 20px 15px; }
  /* line 465, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .media-object {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: #8d8d8d; }
  /* line 471, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .media-left {
    padding-right: 44px; }
  /* line 474, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .vartical {
    height: 90px; }
  /* line 477, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .thumbnail {
    border: 0px solid;
    padding: 0px 47px 0px 0px; }
  /* line 481, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog h3 {
    font-weight: bold; }
  /* line 484, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog h4 {
    padding-left: 5px;
    font-weight: bold; }
  /* line 488, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog h5 {
    color: #23282f;
    font-weight: bold; }
  /* line 492, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog span {
    color: #f7941d; }
  /* line 495, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .caption {
    padding: 0px 0px 40px 0px;
    border-bottom: 1px solid #e5eef0; }
    /* line 498, C:/Users/kamran/Desktop/Project/sass/_content.scss */
    #blog .caption h6 {
      font-size: 15px;
      color: #23282f;
      padding-bottom: 30px; }
    /* line 503, C:/Users/kamran/Desktop/Project/sass/_content.scss */
    #blog .caption .btn {
      border-radius: 17px;
      width: 141px;
      background-color: #009DF5;
      border: none; }
    /* line 509, C:/Users/kamran/Desktop/Project/sass/_content.scss */
    #blog .caption p {
      padding-bottom: 60px; }
  /* line 513, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .col-md-12 {
    padding: 0; }
  /* line 516, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .col-md-8 {
    padding: 0px; }
  /* line 519, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .col-md-4 {
    padding: 0px; }
  /* line 522, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .badge {
    background-color: white; }
  /* line 525, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog i {
    color: #8d8d8d; }
  /* line 528, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .verrticl {
    height: 30px; }
  /* line 531, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .verrticl2 {
    height: 20px; }
  /* line 534, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog li {
    border: none; }
  /* line 537, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .list-group-item {
    padding: 10px 5px; }
  /* line 540, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .smallDiv {
    width: 67px;
    height: 67px;
    background-color: #8d8d8d;
    margin-bottom: 28px; }
  /* line 546, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .boton, #blog .boton2 {
    width: 97px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    background-color: #29c2e1;
    border: none;
    color: white; }
  /* line 555, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .boton2 {
    width: 160px; }
  /* line 559, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .col-md-6 {
    padding: 0; }
  /* line 562, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .pagination a {
    margin: 5px;
    padding: 10px 16px;
    border: none;
    background-color: #29c2e1; }
  /* line 568, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .pagination a:hover {
    background-color: #f7941d; }
  /* line 571, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog input {
    min-height: 48px;
    background-color: #e3eef0;
    border: none;
    color: #23282f;
    margin-bottom: 30px;
    border-radius: 0px; }
  /* line 579, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .txtArea {
    min-height: 158px;
    background-color: #e3eef0;
    border: none;
    outline: none;
    resize: none; }
  /* line 586, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .buton2 {
    border: none;
    width: 141px;
    padding: 10px;
    font-size: 14.5px; }
  /* line 592, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog h3 {
    padding-bottom: 20px; }
  /* line 595, C:/Users/kamran/Desktop/Project/sass/_content.scss */
  #blog .paddingRight {
    padding-right: 25px; }

/* line 1, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
#footer {
  min-height: 320px;
  padding-top: 70px;
  border-bottom: 1px solid #e5eef0;
  position: relative; }
  /* line 6, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footer li {
    list-style: none;
    width: 50px; }
  /* line 10, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footer a {
    color: #93a1a7;
    font-size: 14px;
    text-decoration: none; }
  /* line 15, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footer p {
    color: #93a1a7; }
  /* line 18, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footer li {
    padding-bottom: 10px; }
  /* line 21, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footer i {
    color: #adbdc1;
    font-size: 16px;
    margin: 5px;
    padding-left: 10px; }
  /* line 27, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footer button {
    border: none;
    border: none;
    color: white;
    background-color: #009DF5; }
  /* line 33, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footer .img {
    position: absolute;
    left: 0;
    width: 200px;
    height: 105px;
    bottom: 0; }

/* line 43, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
#footerExtra {
  min-height: 100px;
  position: relative;
  padding-top: 30px; }
  /* line 47, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footerExtra p {
    color: #93a1a7;
    font-size: 14px; }
  /* line 51, C:/Users/kamran/Desktop/Project/sass/_footer.scss */
  #footerExtra .img2 {
    position: absolute;
    width: 143px;
    height: 108px;
    right: 0px;
    bottom: 0; }

/* line 1, C:/Users/kamran/Desktop/Project/sass/_news.scss */
#news {
  font-family: 'Karla', sans-serif; }
  /* line 3, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news h1 {
    font-size: 30px;
    color: #23282f;
    font-weight: 700;
    font-weight: bold; }
  /* line 9, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news h5 {
    font-size: 18px;
    color: #23282f; }
  /* line 13, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news .mainDiv {
    background-color: #e5eef0;
    min-height: 374px;
    display: -webkit-box; }
  /* line 18, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news .newsDiv {
    background-color: #8d8d8d;
    min-height: 374px;
    display: -webkit-box; }
  /* line 23, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news .secondColor {
    background-color: #8d8d8d;
    min-height: 374px;
    background-color: #e5eef0;
    display: -webkit-box;
    font-family: 'Karla', sans-serif; }
  /* line 30, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news .secondColor2 {
    background-color: #8d8d8d;
    min-height: 374px;
    background-color: #e5eef0;
    display: -webkit-box;
    font-family: 'Karla', sans-serif; }
  /* line 37, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news .fullWidth {
    width: 100%;
    height: 100%;
    padding: 27px 42px 20px 42px; }
    /* line 41, C:/Users/kamran/Desktop/Project/sass/_news.scss */
    #news .fullWidth h3 {
      color: #23282f;
      padding-bottom: 19px; }
    /* line 45, C:/Users/kamran/Desktop/Project/sass/_news.scss */
    #news .fullWidth h4 {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 13px; }
    /* line 50, C:/Users/kamran/Desktop/Project/sass/_news.scss */
    #news .fullWidth p {
      font-size: 14px;
      color: #54595f;
      padding-bottom: 30px; }
    /* line 55, C:/Users/kamran/Desktop/Project/sass/_news.scss */
    #news .fullWidth .newButton {
      width: 139px;
      height: 38px;
      border: none;
      margin: 0px; }
  /* line 62, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news .secondColor:before {
    content: "";
    position: absolute;
    bottom: -30px;
    margin-left: 39%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #e5eef0;
    z-index: 1; }
  /* line 74, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #news .newsDiv:before {
    content: "";
    position: absolute;
    bottom: 0px;
    margin-left: 150px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #e5eef0;
    z-index: 1; }

/* line 89, C:/Users/kamran/Desktop/Project/sass/_news.scss */
#newsDetail {
  font-family: 'Karla', sans-serif; }
  /* line 91, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail h1 {
    font-size: 30px;
    color: #23282f;
    font-weight: 700;
    font-weight: bold; }
  /* line 97, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail h5 {
    font-size: 18px;
    color: #23282f; }
  /* line 101, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail .imgDiv {
    width: 100%;
    min-height: 428px;
    background-color: #8d8d8d; }
  /* line 106, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail .imgDiv2 {
    width: 100%;
    min-height: 428px;
    background-color: #e5eef0; }
  /* line 111, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail .imgDiv:after {
    content: "";
    position: absolute;
    bottom: -30px;
    margin-left: 47%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #8d8d8d;
    z-index: 1; }
  /* line 123, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail h3 {
    color: #23282f;
    padding-bottom: 19px; }
  /* line 127, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail h4 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 13px; }
  /* line 132, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail p {
    font-size: 14px;
    line-height: 24px;
    color: #54595f;
    padding-bottom: 30px; }
  /* line 138, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail .full {
    width: 100%;
    min-height: 100%;
    padding: 63px 10px 10px 10px; }
  /* line 143, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail .buton2 {
    width: 139px;
    padding: 10px;
    border: none; }
  /* line 148, C:/Users/kamran/Desktop/Project/sass/_news.scss */
  #newsDetail .vertical {
    height: 51px; }

/* line 1, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
#location {
  font-family: 'Karla', sans-serif; }
  /* line 3, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location h2 {
    font-size: 30px;
    color: #23282f;
    font-weight: bold; }
  /* line 8, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location h5 {
    font-size: 18px;
    color: #23282f; }
  /* line 12, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location .divImage {
    width: 100%;
    min-height: 417px;
    background-color: #8d8d8d; }
  /* line 17, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location .circle {
    width: 63px;
    min-height: 63px;
    border-radius: 100%;
    border: 2px solid #29c2e1;
    margin-bottom: 25px;
    padding-top: 13px; }
  /* line 25, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location .height {
    m9n-height: 300px;
    border-bottom: 1px solid #e5eef0; }
  /* line 29, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location p {
    font-size: 16px;
    color: #23282f; }
  /* line 33, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location .col-md-7 {
    padding: 75px 0px 0px 0px; }
  /* line 36, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location input {
    min-height: 48px;
    background-color: #e3eef0;
    border: none;
    color: #23282f;
    margin-bottom: 30px;
    border-radius: 0px; }
  /* line 44, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location .txtArea {
    min-height: 158px;
    background-color: #e3eef0;
    border: none;
    outline: none;
    resize: none; }
  /* line 51, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location .buton2 {
    border: none;
    width: 141px;
    padding: 10px;
    font-size: 14.5px; }
  /* line 57, C:/Users/kamran/Desktop/Project/sass/_contact.scss */
  #location h3 {
    padding-bottom: 20px; }

/* line 1, C:/Users/kamran/Desktop/Project/sass/_project.scss */
#portfolio {
  font-family: 'Karla', sans-serif; }
  /* line 3, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio h2 {
    font-size: 30px;
    color: #23282f;
    font-weight: bold; }
  /* line 8, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio h5 {
    font-size: 18px;
    color: #23282f; }
  /* line 12, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio .panel1, #portfolio .panel2, #portfolio .panel3, #portfolio .panel4, #portfolio .panel5 {
    width: 263px;
    height: 261px;
    background-color: #8d8d8d;
    margin: 31px 31px 31px 0px; }
  /* line 18, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio .panel2 {
    height: 211px; }
  /* line 22, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio .panel3 {
    height: 393px; }
  /* line 26, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio .panel4 {
    height: 170px; }
  /* line 30, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio .panel5 {
    height: 327px; }
  /* line 34, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfolio .col-md-3 {
    padding: 0px; }

/* line 39, C:/Users/kamran/Desktop/Project/sass/_project.scss */
#portfoliotwo {
  font-family: 'Karla', sans-serif; }
  /* line 41, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfoliotwo h2 {
    font-size: 30px;
    color: #23282f;
    font-weight: bold; }
  /* line 46, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfoliotwo h5 {
    font-size: 18px;
    color: #23282f; }
  /* line 50, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfoliotwo .portfolioDiv {
    width: 100%;
    min-height: 380px;
    background-color: #8d8d8d; }
  /* line 55, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfoliotwo .verticalSpacer {
    width: 100%;
    height: 30px; }
  /* line 59, C:/Users/kamran/Desktop/Project/sass/_project.scss */
  #portfoliotwo .title {
    width: 100%;
    height: 100%;
    background-color: white; }

/*# sourceMappingURL=styleFirst.css.map */